<h1>GPS</h1>
<table>
  <tr>
    <th>ユーザー名</th>
    <th>現在地</th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td>
        <% if user.place == 0 %> 在室 
        <% elsif user.place == 1 %> 教室
        <% elsif user.place == 2 %> 食堂 
        <% elsif user.place == 3 %> 校内 
        <% elsif user.place == 4 %> 帰宅
        <% end %>
      </td>
      <td><%= link_to "変更", edit_user_path(user) %></td>
  <% end %>
</table>
